.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.square {
  height: 150px;
  width: 150px;
  border: 1px solid gold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
