.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
h1 {
  color: white;
}
.top {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}
.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
}
.error {
  color: white;
  font-size: 30px;
}
.info p {
  font-size: 25px;
}
